<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brick Breaker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <button class="kembali"><a href="../../index.php">← kembali</a></button>
    <div id="gameContainer">
        <canvas id="canvas1"></canvas>
    </div>

    <div id="gameOverScreen" class="hidden">
        <h2>GAME OVER</h2>
        <p>Tekan tombol START untuk memulai kembali permainan</p>
    </div>


<script src="script.js"></script>
<script src="/gamehub/src/function/controller.js"></script>
<script src="controllerNavigation.js"></script>
</body>
</html>
